<div class="card m-2" style="width: 18rem;">
  <img src="{{restaurants.[3].image.[0]}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{restaurants.[3].name}}</h5>
    <p class="card-text">{{restaurants.[3].cuisine}}</p>
    <a href="/restaurant/{{restaurants.[3].id}}" class="btn btn-primary">Detail</a>
    {{random}}
  </div>
</div>