<div class="modal fade" id="update__modal__{{_id}}" tabindex="-1" aria-labelledby="update__modal__{{_id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal__style">
                <h5 class="modal-title" id="update__modal__{{_id}}">{{restaurant.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="/update-booking/{{id}}" id="book__restaurant">
                <div class="modal-body">
                    <div class="container border rounded">    
                        <div class="row">
                            <div class="booking-form m-2">    

                                <div class="row no-margin">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Date:</span>
                                            <input class="form-control" name="date" type="date" value="{{date}}" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-margin">
                                    <div class="col">
                                        <div class="form-group">
                                            <h6 class="form-label">Hour:</h6>
                                            <input type="time" id="hour" name="hour" value="{{hour}}" required>
                                        </div>
                                    </div>
                                </div>


                                <div class="row no-margin">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Number of people:</span>
                                            <input class="form-control" type="number" name="number" value="{{number}}" required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn__form btn-danger btn-sm d-inline" data-bs-dismiss="modal">Close</button>
                    <button class="btn__form btn-success btn-sm d-inline">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
