<div class="container">
  <div class="card my-3 mx-3" style="width: 100%;">
    <div class="row mx-4">
      {{#each restaurants as |restaurant|}}
      <div class="row my-3">
        <div class="col-2 col-l-2 col-xl-2 mx-4 my-4">
          <img class="card-img-top mt-3" src="{{restaurant.image.[0]}}" alt="Restaurant image" >
        </div>
        <div class=" col-7 ">
          <div class="card-body">
            <h4 class="card-title capitalized"><b>{{restaurant.name}}</b></h4>
            <h6 class="card-text capitalized" ><b>Type of cuisine:</b> {{restaurant.cuisine}}</h6>
            <h6 class="card-text capitalized"><b>Adress:</b></h6>
              <span class='capitalized'>{{restaurant.adress.street}},</span>
              <span class='capitalized'>{{restaurant.adress.zip}}</span>
              <br>
              <span class='capitalized'>{{restaurant.adress.city}},</span>
              <span class='capitalized'>{{restaurant.adress.country}}</span>
            <h6 class="card-text" ><b>Opening times:</b> </h6>
            <span class='capitalized'>Openning-Days: {{restaurant.timeTable.days}}</span>
            <br>
            <span class='capitalized'>Time table: 
              {{restaurant.timeTable.openhour}}-{{restaurant.timeTable.closehour}}  
            </span>
            <h6 class="card-text" ><b>Owner:</b> {{restaurant.owner.firstname}}</h6>
        </div>
        </div>
        <div class="col-2 d-flex align-items-center  ">
            <a href="/restaurant/{{restaurant.id}}" class="btn btn-success">See more</a>
        </div>
      </div>
      <hr>
      {{/each}}
    </div>
  </div>
</div>
