<div class="container">
    <div class="row booking__unit">
        <div class="row my-3 d-flex justify-content-around">
            <div class=" col-xl-4 ">
                <div class="card-body">
                    <a class="none__style__a a__custom" href="/restaurant/{{this.id}}"><h4 class="capitalized"><b>{{this.name}}</b></h4></a>
                    <h6 class="card-text capitalized hide"><b>Adress:</b> 
                    <span class='capitalized hide'>{{this.fullAdress}}</span>
                    </h6>
                </div>
            </div>  
            <div class=" col-xl-4 ">
                <div class="card-body">
                    <h4 class="card-title capitalized hide"><b>Close restaurant</b></h4>
                     <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Close bookings</label>
                    </div>
                </div>
            </div> 
             <div class=" col-xl-4 ">
                <div class="card-body ">
                    <h4 class="card-title capitalized manage__restaurants__btns hide"><b>Manage restaurant</b></h4>
                    <div class='manage__restaurants__btns'>
                        <a class="btn__form btn-success btn-sm d-inline" href="/edit-restaurant/{{this.id}}" role="button">EDIT</a>
                        <a class="btn__form btn-danger btn-sm d-inline" data-bs-toggle="modal" data-bs-target="#delete__modal__{{id}}" type="button">DELETE</a>
                    </div>
                </div>
            </div>  
        </div>
          <div class="row my-3 d-flex justify-content-around ">
              {{#each this.bookings as |booking|}}
              <div class="row border__bottom align-items-center my-2">
                <div class="col-xl-3">

                    <a class="none__style__a a__custom" data-bs-toggle="modal" data-bs-target="#email__modal__{{booking.id}}"><h5>{{booking.user.firstname}} {{booking.user.lastname}}</h5></a>

                </div>
                <div class="col-xl-1">
                    <h5>{{booking.number}} pax</h5>
                </div>
                <div class="col-xl-2">
                    <h5>{{booking.date}}</h5>
                </div>
                <div class="col-xl-2">
                    <h5>{{booking.hour}}</h5>
                </div>
                <div class="col-xl-3">
                    <h5>{{booking.id}}</h5>
                    
                </div>
                <div class="col-xl-1">
                    <a data-bs-toggle="modal" data-bs-target="#delete__modal__{{booking.id}}" type="button"><img src="../img/cancel.png" alt=""></a>
                    
                </div>
              </div>
               {{> modal_send_email}}
               {{> modal_delete_booking}}
              {{/each}}
              
          </div>

                
        {{> modal_delete_restaurant}}
       

        
    </div>
</div>

