<div class="container">
    <div class="row">
        <div class="row my-3 justify-content-around">
            <div class=" col-3 ">
                <div class="card-body">
                    <h4 class="card-title capitalized"><b>{{this.name}}</b></h4>
                    <h6 class="card-text capitalized hide"><b>Adress:</b> 
                    <span class='capitalized hide'>{{this.adress.street}},</span>
                    <span class='capitalized hide'>{{this.adress.zip}},</span>
                    <span class='capitalized hide'>{{this.adress.city}},</span>
                    <span class='capitalized hide'>{{this.adress.country}}</span>
                    </h6>
                </div>
            </div>  
            <div class=" col-3 ">
                <div class="card-body">
                    <h4 class="card-title capitalized hide"><b>Close restaurant</b></h4>
                     <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Close bookings</label>
                    </div>
                </div>
            </div> 
             <div class=" col-3 ">
                <div class="card-body ">
                    <h4 class="card-title capitalized manage__restaurants__btns hide"><b>Manage restaurant</b></h4>
                    <div class='manage__restaurants__btns'>
                        <a class=" btn__form btn-success btn-sm d-inline" href="/edit-restaurant/{{this.id}}" role="button">EDIT</a>
                        <a class=" btn__form btn-danger btn-sm d-inline" data-bs-toggle="modal" data-bs-target="#delete__modal">DELETE</a>
                    </div>
                </div>
            </div>  
            <div class=" col-sm-2 ">
                <div class="card-body ">
                    <a class="btn btn-secondary btn" href="#" role="button">Bookings</a>
                </div>
            </div> 
        </div>

                
        {{> modal_delete}}

        <hr>
    </div>
</div>

