<div class="container__form d-flex justify-content-center mt-5">
    <div class="row justify-content-center">     
        <form action="/signup" method="POST" class="signup-form">
            <input type="email" name="email" placeholder="Email Address" class="input {{#if errors.email}}is-invalid{{/if}}" id="email" required><br />
            {{#if errors.email}}
                <div class="invalid-feedback">
                    {{errors.email}}
                </div>
            {{/if}}

            <input type="text" name="firstname" placeholder="Firstname" class="input {{#if errors.firstname}}is-invalid{{/if}}" id="firstname" required>
            {{#if errors.firstname}}
                <div class="invalid-feedback">
                    {{errors.firstname}}
                </div>
            {{/if}}

            <input type="text" name="lastname" placeholder="Lastname" class="input {{#if errors.lastname}}is-invalid{{/if}}" id="lastname" required>
            {{#if errors.lastname}}
                <div class="invalid-feedback">
                    {{errors.lastname}}
                </div>
            {{/if}}

            <input type="text" name="phonenumber" placeholder="Phone number" class="input {{#if errors.phonenumber}}is-invalid{{/if}}" id="phonenumber">
            {{#if errors.phonenumber}}
                <div class="invalid-feedback">
                    {{errors.phonenumber}}
                </div>
            {{/if}}

            <input type="password" name="password" placeholder="Password"  class="input {{#if errors.password}}is-invalid{{/if}}" id="password" required>
            {{#if errors.password}}
                <div class="invalid-feedback">
                    {{errors.password}}
                </div>
            {{/if}}

            <div class="mb-4">
                <input type="checkbox" name="role" value="owner">
                <label for="role" >Restaurant owner</label>
            </div>
            
            <button type="submit" class="btn btn-secondary mt-2" {{!-- data-bs-toggle="modal" data-bs-target="#register__modal" --}}>CREATE ACCOUNT</button>
            <div class="text-center w-100">
                <p class="text-muted font-weight-bold mt-2">Already Registered? <a href="/login" class="text-primary ml-2">Login</a></p>
            </div>
        </form>
    
    </div>
</div>

