<div class='container justify-content-center'>
    <div class="row border my-4">
        <div class="col d-flex justify-content-center ">
            <h1 class='top__title'>MY BOOKINGS</h1>
        </div>
    </div>
</div>

{{#each bookings}}
    <div class="container">
        <div class="row booking__unit">
            <div class="row booking__wrapper my-3 ">
                <div class=" capitalized col-3 booking__sec ">
                    <a href="/restaurant/{{restaurant.id}}"><h3>{{restaurant.name}}</h3></a>
                </div>  
                <div class=" col-3 booking__sec ">
                    <h4>{{date}}</h4>
                    <h4>{{hour}}</h4>
                </div>  
                <div class=" col-3 booking__sec">
                    <h4>People: </h4><h4>{{number}}</h4>
                </div> 
                <div class=" col-3 ">
                    <h4 class="card-title capitalized manage__restaurants__btns hide"><b>Manage Booking</b></h4>
                    <div class='manage__restaurants__btns'>
                        <a class=" btn__form btn-success btn-sm d-inline" data-bs-toggle="modal" data-bs-target="#update__modal__{{_id}}" type="button">EDIT</a>
                        <a class=" btn__form btn-danger btn-sm d-inline" data-bs-toggle="modal" data-bs-target="#delete__modal__{{_id}}" type="button">DELETE</a>
                    </div>
                </div>  
            </div>

            {{> modal_delete_booking}}
            {{> modal_update_booking}}

            
        </div>
    </div>
{{/each}}

