<div class='container justify-content-center'>
</div>
<div class="container ">
    {{#each reviews}}
        <div class="row m-4">
            <div class="row">
                <div class="col">
                    <a href="/restaurant/{{restaurant.id}}" class ="none__style__a a__custom capitalized"><h5>{{restaurant.name}}</h5></a>
                </div>
                <div class="col d-flex flex-row-reverse">
                    <h4 class='rating__wrapper'>⭐ <span id="restaurantRateAvg">{{rating}}/5</span></h4>
                </div>
            </div>
            <div class="row">
                <p>{{comment}}</p>
            </div>
        </div>
        <hr>
    {{else}}
        <div style="text-align: center;">
            <h6>No reviews yet</h6>
        </div>

        <div style="height: 450px;">
        </div>
    {{/each}}
</div>

